.btn-capitulo {
    width: 40px;
    margin-bottom: 7px;
    margin-right: 3px;
}

.btn-acesso-busca {
    padding: 0 4px;
}

.input-error {
    background-color: #f5caca;
    border: 2px dotted red;
}
